<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{site.title}} | 
		{% if page.lang == "it" %} {{ site.descriptionIt }}
		{% elsif page.lang == "de" %} {{ site.descriptionDe }}
		{% elsif page.lang == "en" %} {{ site.descriptionEn }}
		{% elsif page.lang == "fr" %} {{ site.descriptionFr }}
		{% endif %}"/>
    <meta name="author" content="Scarpetta" />
	<meta name="title" content="{{page.title}}" />
	  
	<meta property="og:site_name" content="{{site.name}}" />
	<meta propwety="og:title" content="{{page.title}}" />
	<meta property="og:description" content="{{page.lead}}" />
	<meta property="og:url" content="http://www.scarpetta.ch" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="http://scarpetta.ch/images/LeadImage.jpg" />
	
	<meta name="THUMBNAIL_URL" content="http://scarpetta.ch/images/LeadImage.jpg" />
    <link rel="shortcut icon" href="/favicon.ico" />
	<link rel="image_src" href="/images/LeadImage.jpg" />
	<link rel="image" href="/images/LeadImage.jpg" />
	
    <title>{{page.title}} | {{site.name}}</title>
	<!-- Bootstrap core CSS & all css for that matter... -->
    <link href="/css/all.css" rel="stylesheet">  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>