{% assign pagename = page.url | remove: '/index.html' | split: '/' | last %}
	{% if page.layout == "coverpage" %}
		{% assign pagename = "index.html" %}
	{% endif %}
	<div class = "container">
	<p class="navbar-text navbar-right" style="font-size: 11px; color:#fff" align="right"/>
		<p class="navbar-text navbar-right" style="font-size: 11px; color:#fff !important" align="right">
		<a href="/it/{{ pagename }}" class="navbar-link">It</a> 
		<a href="/de/{{ pagename }}" class="navbar-link">De</a> 
		<a href="/fr/{{ pagename }}" class="navbar-link">Fr</a>
		<a href="/en/{{ pagename }}" class="navbar-link">En</a> </p>
	</div>	