	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}"><strong>Scarpetta</strong></a>
        </div>
        <div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
		{% if page.lang == "it" %}          
            <li><a href="/it/chi%20siamo">Chi Siamo</a></li>
            <li><a href="/it/la%20cucina">La Cucina</a></li>
			<li><a href="/it/la%20cantina">La Cantina</a></li>
			<li><a href="/it/feste%20private">Feste Private</a></li>
			<li><a href="/it/contatti">Contatti</a></li>       
		 {% elsif page.lang == "en" %}
		    <li><a href="/en/about%20us">About Us</a></li>
            <li><a href="/en/the%20kitchen">The Kitchen</a></li>
			<li><a href="/en/the%20bar">The Bar</a></li>
			<li><a href="/en/private%20functions">Private Functions</a></li>
			<li><a href="/en/contact">Contact</a></li>     
		{% elsif page.lang == "de" %}
		    <li><a href="/de/ueber%20uns">Über uns</a></li>
            <li><a href="/de/die%20kueche">Die Küche</a></li>
			<li><a href="/de/die%20bar">Die Bar</a></li>
			<li><a href="/de/private%20veranstaltungen">Private Veranstaltungen</a></li>
			<li><a href="/de/kontakt">Kontakt</a></li>     
		 {% endif %}
			<li class="divider-vertical"></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown"> {{ page.lang }} <b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li><a tabindex="-1" href="#">Italiano</a></li>
				  <li><a tabindex="-1" href="#">Deutsch</a></li>
				  <li><a tabindex="-1" href="#">English</a></li>
				  <li><a tabindex="-1" href="#">Francais</a></li>
				</ul>
			</li>
		</ul>
        </div><!--/.nav-collapse -->
		</div>
    </div>	
			<p class="navbar-text navbar-right" style="font-size: 11px" align="right"><a href="#" class="navbar-link">En</a> <a href="#" class="navbar-link">De</a> <a href="#" class="navbar-link">It</a> <a href="#" class="navbar-link">Fr</a></p>

	