	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}"><strong>Scarpetta</strong></a>
        </div>
        <div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
		
			<li><a href="/{{ page.lang }}/chi%20siamo">
			{% if page.lang == "it" %}Chi Siamo
			{% elsif page.lang == "en" %} About us  
			{% elsif page.lang == "de" %} Über uns 
			{% elsif page.lang == "fr" %} DIM
			{% endif %}
			</a></li>
            <li><a href="/{{ page.lang }}/la%20cucina">
			{% if page.lang == "it" %}La Cucina
			{% elsif page.lang == "en" %}The Food
			{% elsif page.lang == "de" %}Die Küche
			{% elsif page.lang == "fr" %}BLAH
			{% endif %}			
			</a></li>
			<li><a href="/{{ page.lang }}/la%20cantina">
			{% if page.lang == "it" %}La Cantina
			{% elsif page.lang == "en" %}The Drink
			{% elsif page.lang == "de" %}Die Küche
			{% elsif page.lang == "fr" %}BLAH
			{% endif %}			
			</a></li>			
			<li><a href="/{{ page.lang }}/feste%20private">
			{% if page.lang == "it" %}Feste Private
			{% elsif page.lang == "en" %}Private Parties
			{% elsif page.lang == "de" %}Private Feste
			{% elsif page.lang == "fr" %}BLAH
			{% endif %}		
			</a></li>
			<li><a href="/{{ page.lang }}/contatti">
			{% if page.lang == "it" %}Contatti
			{% elsif page.lang == "en" %}Contact
			{% elsif page.lang == "de" %}Kontakt
			{% elsif page.lang == "fr" %}BLAH
			{% endif %}		
			</a></li>       
		</ul>
        </div><!--/.nav-collapse -->
		</div>
    </div>	
	<!--
	{% assign pagename = page.url | remove: '/index.html' | split: '/' | last %}
	{% if page.layout == "coverpage" %}
		{% assign pagename = "index.html" %}
	{% endif %}
	<div class = "container">
		<p class="navbar-text navbar-right" style="font-size: 11px" align="right">
		<a href="/it/{{ pagename }}" class="navbar-link">It</a> 
		<a href="/de/{{ pagename }}" class="navbar-link">De</a> 
		<a href="/fr/{{ pagename }}" class="navbar-link">Fr</a>
		<a href="/en/{{ pagename }}" class="navbar-link">En</a> </p>
	</div>	-->		

	