<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

{% comment %} THIS IS NAVIGATION WITH GLYPHICONS
<!--- ########################################## --->
      	<div class="navbar-toggle">				  
			<a href="/{{ page.lang }}/chi%20siamo" >
				<span class="glyphicon glyphicon-user inverse-icon"> </span></a>			
			<a href="/{{ page.lang }}/la%20cucina">
				<span class="glyphicon glyphicon-cutlery inverse-icon"></span></a>
			<a href="/{{ page.lang }}/la%20cantina">
				<span class="glyphicon glyphicon-glass inverse-icon"></span></a>			
			<a href="/{{ page.lang }}/feste%20private">
				<span class="glyphicon glyphicon-calendar inverse-icon"></span></a>			
			<a href="/{{ page.lang }}/contatti">
				<span class="glyphicon glyphicon-info-sign inverse-icon"></span></a>
			<!--<a href="/{{ page.lang }}/notizie">
				<span class="glyphicon glyphicon-bullhorn inverse-icon"></span></a>-->
		  	  
		            </div>	  
{% endcomment %} 
<!--- ########################################## --->
 
{% comment %} THIS IS NAVIGATION WITH HAMBURGER {% endcomment %} 
<!--- ########################################## ---> 
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

<!--- ########################################## ---> 	

          <a class="navbar-brand" href="/"><strong>Scarpetta</strong></a>
        </div>
        <div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/{{ page.lang }}/chi%20siamo">
			{% if page.lang == "it" %}Chi Siamo
			{% elsif page.lang == "en" %} About us  
			{% elsif page.lang == "de" %} Wer wir sind 
			{% elsif page.lang == "fr" %} DIM
			{% endif %}
			</a></li>
            <li><a href="/{{ page.lang }}/la%20cucina">
			{% if page.lang == "it" %}La Cucina
			{% elsif page.lang == "en" %}The Kitchen 
			{% elsif page.lang == "de" %}Die Küche
			{% elsif page.lang == "fr" %}BLAH
			{% endif %}			
			</a></li>
			<li><a href="/{{ page.lang }}/la%20cantina">
			{% if page.lang == "it" %}La Cantina
			{% elsif page.lang == "en" %}The Cellar
			{% elsif page.lang == "de" %}Der Weinkeller
			{% elsif page.lang == "fr" %}BLAH
			{% endif %}			
			</a></li>			
			<li><a href="/{{ page.lang }}/feste%20private">
			{% if page.lang == "it" %}Feste Private
			{% elsif page.lang == "en" %}Private Functions
			{% elsif page.lang == "de" %}Private Anlässe
			{% elsif page.lang == "fr" %}BLAH
			{% endif %}		
			</a></li>
			<li><a href="/{{ page.lang }}/contatti">
			{% if page.lang == "it" %}Contatti
			{% elsif page.lang == "en" %}Contact
			{% elsif page.lang == "de" %}Kontakt
			{% elsif page.lang == "fr" %}BLAH
			{% endif %}		
			</a></li> 
			<!--<li><a href="/{{ page.lang }}/notizie">
			{% if page.lang == "it" %}Notizie
			{% elsif page.lang == "en" %}News
			{% elsif page.lang == "de" %}Neu
			{% elsif page.lang == "fr" %}Nouvelles
			{% endif %}		
			</a></li>-->
		</ul>
        </div><!--/.nav-collapse -->
		</div>
    </div>