{% include header.html %}
<div id="wrap">
{% include navigation.html %}
<img src="/images/bread.jpg" id="full-screen-background-image" /> 
<!--{% include languagebar.html %}-->

<div class="container">
	<div class="jumbotron">    
		<h3><strong>OSTERIA</strong></h3>
		<h1><strong>Scarpetta</strong><h1>
		<h3><strong>ALLA FRACCIA</strong><h3>
		<p style="font-size:18px; text-align:center; color:white">
			{{page.lead}}
		</p>
	</div>	
</div>
</div>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
{% if page.lang == "it" %} Saremo chiusi dal 22 Dicembre 2014 al 12 Gennaio 2015 inclusivo
{% elsif page.lang == "en" %} We will be closed from 22nd December 2014 until 12th January 2015 inclusive
{% elsif page.lang == "de" %} Betriebsferien vom 22. Dezember 2014 bis 12. Januar 2015
{% elsif page.lang == "fr" %} Nous serons fermés du 23 Décembre 2014 au 12 Janvier 2015 inclusivement
{% endif %}
</div>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
Per vedere la nostra offerta per pranzo, <a href="/menus/Offerta Pranzo Nov 2014.pdf" class="alert-link">clicca qui.</a>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/all.js"></script>	
	</body>
</html>
