{% include header.html %}
<div id="wrap">
{% include navigation.html %}
<img src="/images/bread.jpg" id="full-screen-background-image" /> 
<!--{% include languagebar.html %}-->

<div class="container">
	<div class="jumbotron">    
		<h3><strong>OSTERIA</strong></h3>
		<h1><strong>Scarpetta</strong><h1>
		<h3><strong>ALLA FRACCIA</strong><h3>
		<p style="font-size:18px; text-align:center; color:white">
			{{page.lead}}
		</p>
	</div>	
</div>
</div>

<div class="navbar navbar-fixed-bottom">
<div class="alert alert-info alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	{% if page.lang == "it" %} Prenotare la vostra cena per *San Valentino* qui, Per visualizzare di menù, [clicca qui.](/menus/20150214_Menue_Valentino.pdf)
	{% elsif page.lang == "en" %} Book your dinner for Valentine's Day here, to see the menu, [click here] (/menus/20150214_Menue_Valentino.pdf)
	{% endif %}
	
</div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/all.js"></script>	
	</body>
</html>
