{% include header.html %}
<div id="wrap">
{% include navigation.html %}
{% include languagebar.html %}
	<div class="container">
		
		<div {% if page.imagePosition == 'side' %} class="col-xs-12 col-sm-6 col-md-6" {% else %} class="col-xs-12 col-sm-9 col-md-9"	{% endif %}>
		{{content}}	
		</div>
		
		<div {% if page.imagePosition == 'side' %} class="col-xs-12 col-sm-6 col-md-6" {% else %} class="col-xs-12 col-sm-9 col-md-9"	{% endif %}>
			{% if page.image != null %}
				{% for img in page.image %}
					{% if page.imageLink[forloop.index0] %} 
						<a href={{ page.imageLink[forloop.index0] }} target="_blank"><img src="{{ img }}" class="img-responsive"   /> </a>
					{% else %}	
						<img src="{{ img }}" class="img-responsive"   />
					{% endif %}
				{% endfor %}		
			{% endif %}
		</div>
		
	 </div> <!--row-->
	</div><!-- /.container -->
{% include footer.html %}

